<!--Sarsite about page-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>about-us</title>
     
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SARVADNYA ACADEMY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ourresult">Our Result</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="course.html">Courses we offer</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/admissions">Admissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="/login">VIDEO LECTURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <!--Navbar end-->
  <div class="container my-2">
 <p class="bg-warning text-purple font-weight-bold text-center">ABOUT US</p>
<div class="container my-2">
  <div class="card text-white bg-primary mb-3" style="max-width: 45rem;">
  <!--<div class="card-header">Header</div>-->
  <div class="card-body">
    <!--<h5 class="card-title">Primary card title</h5>-->
    <p class="card-text">Our Vision is to provide best education in the field of SCIENCE at minimum fee</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 45rem;">
<!--  <div class="card-header">Header</div>-->
  <div class="card-body">
  <!--  <h5 class="card-title">Secondary card title</h5>-->
    <p class="card-text">We look forward to develop Goal oriented system that would develop the mindset of student</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 45rem;">
  <!--<div class="card-header">Header</div>-->
  <div class="card-body">
   <!-- <h5 class="card-title">Success card title</h5>-->
    <p class="card-text">To show a better path to our student that will make his/her future the best they can get</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 45rem;">
  <!--<div class="card-header">Header</div>-->
  <div class="card-body">
    <!--<h5 class="card-title">Danger card title</h5>-->
    <p class="card-text">To develop a scientific approach among student instead of Rote learning</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 45rem;">
  <!--<div class="card-header">Header</div>-->
  <div class="card-body">
    <!--<h5 class="card-title">Warning card title</h5>-->
    <p class="card-text">PPP Approach = Prepare,Practice and Perform</p>
  </div>
</div>
<!--<div class="card text-white bg-info mb-3" style="max-width: 45rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  </div>
</div>

  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>