<!--sarsite index page-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>sarvadnya academy</title>
     
  </head>
  <body>
  {% load static %}
 <!-- navbar header start -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SARVADNYA ACADEMY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ourresult">Our Result</a>
      <!-- </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses we offer</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="/admissions">Admissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="/login">VIDEO LECTURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- carousel start -->

<div id="carouselExampleFade" class="carousel slide carousel-fade my-3" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://user-images.githubusercontent.com/65236844/83325662-97411480-a28b-11ea-9776-c625b309a455.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://user-images.githubusercontent.com/65236844/83325662-97411480-a28b-11ea-9776-c625b309a455.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://user-images.githubusercontent.com/65236844/83327845-9bc1f900-a29c-11ea-8974-491251b944c4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--github varun image ghetla hota aani rohan das chya web varun-->
<!--<div class="container-fluid image-fluid">
 <div class="row">
   <div class="col-lg-6 col-md-6 col-sm-3">
<section id="intro" style="background: url(img/bg.jpg) center center no-repeat; background-size: cover;"
    class="intro-section pb-2">
    <div class="container image-fluid text-center">
        <div data-animate="fadeInDown" class="logo"><img src="https://user-images.githubusercontent.com/65236844/83325662-97411480-a28b-11ea-9776-c625b309a455.jpg" alt="logo" width="480",height="90"></div>
        <h1 data-animate="fadeInUp" class="text-shadow"><span id="typed"></span></h1>
    </div>
</section>
</div>-->
<!-- github wala end-->
<!-- carousel end -->
<!--card for positives-->
<div class="container my-2">
 <p class="bg-warning text-purple font-weight-bold text-center">OUR POSITIVES</p>
<div class="container-fluid">
 <div class="row">
   <div class="col-lg-6 col-md-6 col-sm-3">
   <!--1st card-->
    <div class="card" style="width: 18rem;">
     <img src="https://user-images.githubusercontent.com/65236844/83329926-b9e22600-a2a9-11ea-892f-14f99078e118.jpeg" class="card-img-top" alt="...">
     <div class="card-body">
     <p class="card-text text-center"><b>CONCEPT CLEARING LECTURES [CCL]<b></p>
     </div>
    </div>
   </div>
<!--second card -->
   <div class="col-lg-6 col-md-6 col-sm-3">
    <div class="card" style="width: 18rem;">
    <img src="https://user-images.githubusercontent.com/65236844/83329808-23156980-a2a9-11ea-9d1d-a3ca2eb19a5f.jpg" class="card-img-top" alt="...">
     <div class="card-body">
     <p class="card-text text-center"><b>ENTRANCE EXAM ORIENTED LEARNING<b></p>
     </div>
    </div>
   </div>
    <!--3rd card-->
   <div class="col-lg-6 col-md-6 col-sm-3">
    <div class="card" style="width: 18rem;">
    <img src="https://user-images.githubusercontent.com/65236844/83330009-24936180-a2aa-11ea-89d5-4f691c9c92fa.jpeg" class="card-img-top" alt="...">
     <div class="card-body">
     <p class="card-text text-center"><b>THE BEST DEDICATED TEAM OF TEACHERS<b></p>
     </div>
    </div>
   </div>
<!--4th card-->
   <div class="col-lg-6 col-md-6 col-sm-3">
    <div class="card" style="width: 18rem;">
    <img src="https://user-images.githubusercontent.com/65236844/83329499-8b634b80-a2a7-11ea-8e4d-7a5fb4bf8785.JPG" class="card-img-top" alt="...">
     <div class="card-body">
     <p class="card-text text-center text-weight-bold"><b>REGULAR STUDENT PERFORMANCE TEST</b></p>
     </div>
    </div>
   </div>
  </div>
</div>
<!--carousel for result slide-->
<p class="bg-warning text-purple font-weight-bold text-center my-3">OUR RESULT</p>
<div id="carouselExampleFade" class="carousel slide carousel-fade my-3" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://user-images.githubusercontent.com/65236844/83330238-5d800600-a2ab-11ea-9eae-39074c7e60cd.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://user-images.githubusercontent.com/65236844/83330238-5d800600-a2ab-11ea-9eae-39074c7e60cd.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://user-images.githubusercontent.com/65236844/83330238-5d800600-a2ab-11ea-9eae-39074c7e60cd.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- list group start -->
<p class="bg-warning text-purple font-weight-bold text-center my-3">CLICK BELOW FOR : <svg class="bi bi-arrow-down-square-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
</svg></p>
<div class="container my-2">
 <div class="list-group">
  <a href="/download" class="list-group-item list-group-item-action font-weight-bold text-center font-family-sans-serif">Download Brochure & Notes</a>
  <a href="/admissions" class="list-group-item list-group-item-action list-group-item-danger font-weight-bold text-center font-family-sans-serif nav-link">Online Admission</a>
  <a href="/testseries" class="list-group-item list-group-item-action list-group-item-secondary font-weight-bold text-center font-family-sans-serif">Test series</a>
  <a href="/examtimetable" class="list-group-item list-group-item-action list-group-item-success font-weight-bold text-center font-family-sans-serif">Exam Timetable</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary font-weight-bold text-center font-family-sans-serif">Extras</a>
 </div>
</div>
</div>
</div>
<!-- footer start -->

<div class="container">
 <div class="row">
  <div class="container my-4 shadow-lg p-1 mb-2 bg-white rounded">
 <div class="col-xl-12 col-lg-12 col-md-12"
 <div class="card text-white bg-danger mb-3" style="max-width: 45rem;">
  <div class="card-header">CONTACT:</div>
  <div class="card-body">
    <h5 class="card-title">Sarvadnya Academy</h5>
    <svg class="bi bi-building" width="2em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M15.285.089A.5.5 0 0 1 15.5.5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .418-.493l5.582-.93V3.5a.5.5 0 0 1 .324-.468l8-3a.5.5 0 0 1 .46.057zM7.5 3.846V8.5a.5.5 0 0 1-.418.493l-5.582.93V15h8v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.222l-7 2.624z"/>
  <path fill-rule="evenodd" d="M6.5 15.5v-7h1v7h-1z"/>
  <path d="M2.5 11h1v1h-1v-1zm2 0h1v1h-1v-1zm-2 2h1v1h-1v-1zm2 0h1v1h-1v-1zm6-10h1v1h-1V3zm2 0h1v1h-1V3zm-4 2h1v1h-1V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm-2 2h1v1h-1V7zm2 0h1v1h-1V7zm-4 0h1v1h-1V7zm0 2h1v1h-1V9zm2 0h1v1h-1V9zm2 0h1v1h-1V9zm-4 2h1v1h-1v-1zm2 0h1v1h-1v-1zm2 0h1v1h-1v-1z"/>
</svg>
    <p class="card-text">1st Floor, Zanwar Complex, Gandhi chowk,
Near Dr.Panjabrao Deshmukh Bank,
Daryapur.<br>
Kalyan Branch: Shop no.1,Ground floor,Near Bhal Bus stop,Haji Malang Road,Kalyan East<br>


<svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
  <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>
Mob: 8655045021 / 8898486794<br>
 
<svg class="bi bi-envelope-open-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/></svg>sarvadnyaacademy@outlook.com</p>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

<!--gem icon--
<svg class="bi bi-gem" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z"/>
</svg


