<!--sarsite ourresult page-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>about-us</title>
     
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SARVADNYA ACADEMY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ourresult">Our Result</a>
       <!--</li>
      <li class="nav-item">
        <a class="nav-link" href="course.html">Courses we offer</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="/admissions">Admissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="/login">VIDEO LECTURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <!--Navbar end-->
  <svg class="bi bi-gem" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z"/>
</svg
  
  <!--CARD STARTS-->
  <div class="container-fluid my-2">
 <p class="bg-warning text-purple font-weight-bold text-center">OUR S.S.C RESULT</p>
<div class="container-fluid">
 <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-3">
   <!--1st card-->
    <div class="card" style="border:4px solid; max-width: 85rem;">
     <img src="https://user-images.githubusercontent.com/65236844/83330238-5d800600-a2ab-11ea-9eae-39074c7e60cd.jpg" class="card-img-top" alt="...">
    <!--  <div class="card-body">
     <p class="card-text text-purple font-weight-bold text-center font-family-sans-serif">Our S.S.C Toppers</p>
      </div>-->
    </div>
   </div>
   </div>
  </div>
</div>
<div class="container-fluid my-2">
 <p class="bg-warning text-purple font-weight-bold text-center">OUR H.S.C RESULT</p>
<div class="container-fluid">
 <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-3">
   <!--1st card-->
    <div class="card" style="border:4px solid; max-width: 85rem;">
     <img src="https://user-images.githubusercontent.com/65236844/83330238-5d800600-a2ab-11ea-9eae-39074c7e60cd.jpg" class="card-img-top" alt="...">
     
    <!-- </div>-->
    </div>
   </div>
   </div>
  </div>
</div>
<div class="container-fluid my-2">
 <p class="bg-warning text-purple font-weight-bold text-center">OUR CET/NEET/JEE RESULT</p>
<div class="container-fluid">
 <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-3">
   <!--1st card-->
    <div class="card" style="border:4px solid; max-width: 85rem;">
     <img src="https://user-images.githubusercontent.com/65236844/83330846-8aceb300-a2af-11ea-8937-60857dbfe7d7.JPG" class="card-img-top" alt="...">
     
    <!-- </div>-->
    </div>
   </div>
   </div>
  </div>
</div>
<div class="container-fluid my-2">
 <p class="bg-warning text-purple font-weight-bold text-center">OUR SCHOOL SECTION RESULT</p>
<div class="container-fluid">
 <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-3">
   <!--1st card-->
    <div class="card" style="border:4px solid; max-width: 85rem;">
     <img src="https://source.unsplash.com/1400x800/?nature,book" class="card-img-top" alt="...">
  
     <!--</div>-->
    </div>
   </div>
   </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>