<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<html>
<head>
<style>
html {
  scroll-behavior: smooth;
}

#section1 {
  height: 6000px;
  background-color: pink;
}

#section2 {
  height: 6000px;
  background-color: yellow;
}

#section3 {
  height: 6000px;
  background-color: primary;
}

#section4 {
  height: 6000px;
  background-color: aqua;
}

#section5 {
  height: 6000px;
  background-color: olive;
}

#section6 {
  height: 6000px;
  background-color: pink;
}

#section7 {
  height: 6000px;
  background-color: yellow;
}

#section8 {
  height: 6000px;
  background-color: orange;
}

#section9 {
  height: 6000px;
  background-color: yellow;
}

#section10 {
  height: 6000px;
  background-color: green;
}
</style>
</head>
<body>

<p class="bg-warning text-purple font-weight-bold text-center">SARVADNYA VIDEO LECTURES </p> 
<a href="/logout" class="btn btn-info" role="button">click here for LOGOUT</a>

<div class="main" id="section1">
  <a href="#section2">Click Me for 10th (CBSE board)</a><br>
  <a href="#section3">Click Me for 11th (Physics)</a><br>
  <a href="#section4">Click Me for 11th (Chemistry)</a><br>
  <a href="#section5">Click Me for 11th (Maths)</a><br>
  <a href="#section6">Click Me for 11th (Biology)</a><br>
  <a href="#section7">Click Me for 12th (Physics)</a><br>
  <a href="#section8">Click Me for 12th (Chemistry)</a><br>
  <a href="#section9">Click Me for 12th (Maths)</a><br>
  <a href="#section10">Click Me for 12th (Biology)</a><br>
  <h2>10th (State Board)</h2>
  <p>Chapter :1 Gravitation </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u7u9u" allowfullscreen allow="autoplay"></iframe>
  <p>Chapter :2 Nutrition </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section2">
  <h2>10th (CBSE Board)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p>Chapter 1: Transpiration </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section3">
  <h2>11th (Physics)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p> Chapter 1: Semi conductor </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section4">
  <h2>11th (Chemistry)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p> integration </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section5">
  <h2>11th (Maths)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p> integration </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section6">
  <h2>11th (Biology)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p> integration </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section7">
  <h2>12th (Physics)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p> integration </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section8">
  <h2>12th (Chemistry)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p> integration </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section9">
  <h2>12th (Maths)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p> integration </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>

<div class="main" id="section10">
  <h2>12th (Biology)</h2>
  <a href="#section1">Click Me to go at Top</a>
  <p> integration </p>
  <iframe frameborder="0" width="340" height="160" src="https://www.dailymotion.com/embed/video/x7u794e" allowfullscreen allow="autoplay"></iframe>
</div>
</div>



</body>
</html>
